h1{
    text-align: center;
}

.lead{
    text-align: center;
}

.box {
    width: 600px;
    height: 500px;
    padding: 5px
  }

@media (min-width: 768px) {
    .navbar-expand-lg{
        background: slateblue
    }
}