h1{
    text-align: center;
}

.lead{
    text-align: center;
}

.box {
    width: 600px;
    height: 500px;
    padding: 5px
  }

@media (max-width: 767.98px) {
    .blue{
        background-color: #99ddff;
    }
}