.header{
    height: 150px;
    padding-top: 20px;
    background: #DDA0DD
}

h1{
    font-size: 80px;
    text-align: center;
}

.lead{
    text-align: center;
}

.box {
    width: 600px;
    height: 500px;
    padding: 5px
  }

@media (mind-width: 768px) {
    /* change the boxes to stack */
}